<div class="producto card" >
    <img src=" 
    <%= curso.IMG %> 
    " alt="<%=curso.name%>">
    <div class="card-body">
      <h5 class="card-title"><%=curso.name%></h5>
      <p class="card-text"><%=curso.description%></p>
      <a href="#" class="btn btn-primary">Pedir Información</a>
    </div>
  </div>