<%- include('./template/head'); %>
 
<%- include('./template/header'); %>


<section class="contacto">
    <h1>Contacto</h1>
    <p>¿Tienes alguna consulta o deseas más información sobre nuestros programas educativos en inteligencia
        artificial? Puedes contactarnos a través de los siguientes medios:</p>
    <ul>
        <li><strong>Email:</strong> <a href="mailto:futureiamentor@gmail.com">futureiamentor@gmail.com</a></li>
        <li><strong>Dirección:</strong> Calle Falsa 1234, Buenos Aires, Argentina</li>
        <li><strong>Teléfono:</strong> <a href="tel:+541142233551">42233551</a></li>
    </ul>
    <p>Estamos aquí para ayudarte a dar el primer paso hacia tu carrera en IA. ¡Esperamos tu mensaje!</p>


</section>

<%- include('./template/footer'); %>