
  <%- include('./template/head'); %>
 
    <%- include('./template/header'); %>
    <section class="Informacion">
      <h1>FutureAIMentor una plataforma para futuros mentores</h1>
      <img src="../public/images/Designer.jpeg" alt="img" >
      <h2>Impulsa tu carrera en tecnología con IA</h2>
      <p>Nuestra plataforma ofrece programas en programación, diseño gráfico y UX/UI, integrando inteligencia artificial como herramienta clave para el aprendizaje. Desarrolla habilidades tecnológicas mientras aprovechas la IA para automatizar procesos y potenciar tu creatividad, preparándote para el futuro digital de manera eficiente.</p>
  </section>
  <section class="cursos">
      <h1>Cursos disponibles</h1>
      <div class="contenedor-productos">
        
          <div class="producto card" >
            <img src="../public/images/curso_analisis_datos_ia.jpeg" alt="analisis_datos">
            <div class="card-body">
              <h5 class="card-title">Analisis de datos</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam?</p>
              <a href="#" class="btn btn-primary">Pedir Información</a>
            </div>
          </div>
          <div class="producto">
              <img src="../public/images/curso_diseño_ia.jpeg" alt="diseño">
              <h3>Diseño Grafico</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam? </p>
              <button>Pedir Información</button>
          </div>
          <div class="producto">
              <img src="../public/images/curso_diseño_web_ia.jpeg" alt="diseño_web">
              <h3>Diseño web</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam? </p>
              <button>Pedir Información</button>
          </div>
          <div class="producto">
              <img src="../public/images/curso_machine_l_ia.jpeg" alt="machine_learning">
              <h3>Machine learning</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam? </p>
              <button>Pedir Información</button>
          </div>
          <div class="producto">
              <img src="../public/images/curso_programacion_inicial_ia.jpeg" alt="programacion_inicial">
              <h3>Programacion inicial</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam? </p>
              <button>Pedir Información</button>
          </div>
          <div class="producto">
              <img src="../public/images/curso_videos_juegos_ia.jpeg" alt="videos_juegos">
              <h3>Programación de videos juegos</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt doloribus dolores facere quam magnam? </p>
              <button>Pedir Información</button>
          </div>
  
       </div> 
  </section>

  <%- include('./template/footer'); %>

