
  <%- include('./template/head'); %>
 
    <%- include('./template/header'); %>
  <section class="Informacion">
      <h1>FutureAIMentor una plataforma para futuros mentores</h1>
      <img src="../public/images/Designer.jpeg" alt="img" >
      <h2>Impulsa tu carrera en tecnología con IA</h2>
      <p>Nuestra plataforma ofrece programas en programación, diseño gráfico y UX/UI, integrando inteligencia artificial como herramienta clave para el aprendizaje. Desarrolla habilidades tecnológicas mientras aprovechas la IA para automatizar procesos y potenciar tu creatividad, preparándote para el futuro digital de manera eficiente.</p>
  </section>
  <section class="cursos">
      <h1>Cursos disponibles</h1>
      <div class="contenedor-productos">
        <% cursos.map(curso=>{ %>
          <%- include('./template/card',{curso}); %> 
        <% });%>
       </div> 
  </section>

  <%- include('./template/footer'); %>

